/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #050505;
  color: #ffffff;
  padding: 2rem;
  line-height: 1.6;
}

form {
    background-color: #050505;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form label {
    color: #ffffff;
    font-weight: 500;
}

form input[type="date"] {
    background-color: #1c1c1c;
    color: #ffffff;
    border: 1px solid #16a085;
    padding: 0.5rem;
    border-radius: 8px;
    outline: none;
}

form input[type="date"]::placeholder {
    color: #999999;
}

form button {
    background-color: #16a085;
    color: #ffffff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #138d75;
}


h1 {
  color: #16a085;
  margin-bottom: 2rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

th,
td {
  padding: 1rem;
  text-align: left;
}

thead {
  background-color: #16a085;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #111111;
}

tfoot {
  background-color: #0f0f0f;
  font-weight: bold;
}

tfoot th {
  color: #16a085;
}

canvas {
  display: block;
  margin: 2rem auto;
  max-width: 700px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
  }

  table,
  th,
  td {
    font-size: 0.9rem;
  }
}
